{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">

</div>
{% endblock %}

{% block content %}
<div class="container">
<div class="container">
<div class="row">
    {% for developer in developers %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100 border-0">
                <p class="p-2 mb-0 text-center h3">{{ developer.name }}</p>
                <div class="card-body pb-5 pt-0">
                {% if developer.image %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ developer.image.url }}" alt="{{ developer.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ developer.name }}">
                </a>
                {% endif %}
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold">${{ developer.rate }}</p>
							<div class="row">
								<div class="col-6 pr-0">
									{% if developer.language %}
									{% for language in developer.language.all %}
									<p class="small mt-1 mb-0">
										<a class="text-muted code-links" href="{% url 'developers' %}?language={{ .language.name }}">
											<i class="fas fa-code"></i> {{ language.friendly_name }}<br/>
                                            </a>
									</p>
									{% endfor %}
									{% endif %}
								</div>
                                <div class="col-6 pl-0">
									{% if developer.framework %}
									{% for framework in developer.framework.all %}
									<p class="small mt-1 mb-0 text-right">
										<a class="text-muted code-links" href="{% url 'developers' %}?framework={{ .framework.name }}">
											{{ framework.friendly_name }} <i class="fas fa-box-open"></i><br/>
                                        </a>
									</p>
									{% endfor %}
									{% endif %}
								</div>
							</div>
                            <div class="row">
								<div class="col-6 pr-0">
                                    {% if developer.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ developer.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            <div class="col-6 pl-0 text-right">
                                {% if request.user.is_superuser %}
                                <small class="text-right">
                                    <a href="">Edit</a> | 
                                    <a class="text-danger" href="">Delete</a>
                                </small>
                            {% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-sm-none mb-5">
                <hr>
            </div>
        {% endif %}                        
        {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                <hr>
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                <hr>
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block mb-5">
                <hr>
            </div>
        {% endif %}
    {% endfor %}
</div>
</div>
</div>
{% endblock %}