{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">

</div>
{% endblock %}

{% block content %}
<div class="container">
<div class="container">
<div class="row my-3">
    {% for developer in developers %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mx-auto">
            <div class="card h-100 border-0 border-box">
				<div class="card-body pb-5 pt-0 px-0">
                <p class="pb-1 mb-1 text-center dynamic-text-head card-header text-muted rounded-top">{{ developer.name }}</p>
					<div class="circle">
						{% if developer.image %}
						<a href="{% url 'developer_detail' developer.id %}">
							<img class="card-img-top rounded-circle" src="{{ developer.image.url }}" alt="{{ developer.name }}" width="200">
				                </a>
						{% else %}
							<a href="{% url 'developer_detail' developer.id %}">
								<img class="card-img-top rounded-circle" src="{{ MEDIA_URL }}noimage.png" alt="{{ developer.name }}" width="200">
				                </a>
						{% endif %}
					</div>
				</div>
                <div class="card-footer pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
							<div class="row">
								<div class="col-6 pr-0">
									{% if developer.language %}
									{% for language in developer.language.all %}
									<p class="small mt-1 mb-0">
										<a class="text-muted dynamic-text" href="{% url 'developers' %}?language={{ .language.name }}">
											<i class="fas fa-code"></i> {{ language.friendly_name }}<br/>
                                            </a>
									</p>
									{% endfor %}
									{% endif %}
								</div>
                                <div class="col-6 pl-0">
									{% if developer.framework %}
									{% for framework in developer.framework.all %}
									<p class="small mt-1 mb-0 text-right">
										<a class="text-muted dynamic-text" href="{% url 'developers' %}?framework={{ .framework.name }}">
											{{ framework.friendly_name }} <i class="fas fa-box-open"></i><br/>
                                        </a>
									</p>
									{% endfor %}
									{% endif %}
								</div>
							</div>
                            <div class="row">
								<div class="col-6 pr-0">
                                    {% if developer.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ developer.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            <div class="col-6 pl-0 text-right">
                                {% if request.user.is_superuser %}
                                <small class="text-right">
                                    <a href="">Edit</a> | 
                                    <a class="text-danger" href="">Delete</a>
                                </small>
                            {% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="lead mb-0 font-weight-bold text-center bg-primary text-white rounded-bottom">Rate: ${{ developer.rate }}</p>
            </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-sm-none my-2">
                <hr>
            </div>
        {% endif %}                        
        {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-block d-lg-none my-2">
                <hr>
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-lg-block d-xl-none my-2">
                <hr>
            </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-xl-block my-2">
                <hr>
            </div>
        {% endif %}
    {% endfor %}
</div>
</div>
</div>
{% endblock %}