{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">

</div>
{% endblock %}

{% block content %}
<div class="container">
<div class="container">
    <div class="main-body my-5">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                  <div class="circle">
                    <img src="{{ developer.image.url }}" alt="Admin" class="rounded-circle" width="170">
                    </div>
                    <div class="mt-3">
                      <h4>{{ developer.name }}</h4>
                      <p class="text-secondary mb-1">{{ developer.tagline }}</p>
                      <p class="text-muted font-size-sm">{{ developer.bio }}</p>
                      <button class="btn btn-primary">Buy Subscription</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                 <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="fas fa-hand-holding-usd"></i> Rate</h6>
                    <span class="text-secondary">€{{ developer.rate }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="fas fa-globe"></i> Website</h6>
                    <span class="text-secondary">{{ developer.website }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="fab fa-github"></i> Github</h6>
                    <span class="text-secondary">{{ developer.github }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="fab fa-twitter"></i> Twitter</h6>
                    <span class="text-secondary">{{ developer.twitter }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="fab fa-facebook-f"></i> Facebook</h6>
                    <span class="text-secondary">{{ developer.facebook }}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ developer.name }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ developer.email }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Country</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{ developer.country }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                    {% if developer.spoken_language.all.count > 1 %}
                      <h6 class="mb-0">Spoken Languages</h6>
                    {% else %}
                      <h6 class="mb-0">Spoken Language</h6>
                    {% endif %}
                    </div>
                    <div class="col-sm-9 text-secondary">
                    {% for spoken_language in developer.spoken_language.all %} {{ spoken_language.name }} ({{ spoken_language.nativeName }}), {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Programming Languages</h6><hr>
                      {% for language in developer.language.all %}
                      <h5><i class="fas fa-code"></i> {{ language.friendly_name }}</h5><br>
                      {% endfor %}
                      <!-- <small>Web Design</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Website Markup</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>One Page</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Mobile Template</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Backend API</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3">Programming Frameworks</h6><hr>
                      {% for framework in developer.framework.all %}
                      <h5><i class="fas fa-box-open"></i> {{ framework.friendly_name }}</h5><br>
                      {% endfor %}
                      <!-- <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Website Markup</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>One Page</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Mobile Template</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Backend API</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
<!-- <div class="container">
	<div class="container">
		<div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card h-100 border-0">
                <p class="p-2 mb-0 text-center h3">{{ developer.name }}</p>
                <div class="card-body pb-5 pt-0">
                {% if developer.image %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ developer.image.url }}" alt="{{ developer.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ developer.name }}">
                </a>
                {% endif %}
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold">${{ developer.rate }}</p>
							<div class="row">
								<div class="col-6 pr-0">
									{% if developer.language %}
									{% for language in developer.language.all %}
									<p class="small mt-1 mb-0">
										<a class="text-muted code-links" href="{% url 'developers' %}?language={{ .language.name }}">
											<i class="fas fa-code"></i> {{ language.friendly_name }}<br/>
                                            </a>
									</p>
									{% endfor %}
									{% endif %}
								</div>
                                <div class="col-6 pl-0">
									{% if developer.framework %}
									{% for framework in developer.framework.all %}
									<p class="small mt-1 mb-0 text-right">
										<a class="text-muted code-links" href="{% url 'developers' %}?framework={{ .framework.name }}">
											{{ framework.friendly_name }} <i class="fas fa-box-open"></i><br/>
                                        </a>
									</p>
									{% endfor %}
									{% endif %}
								</div>
							</div>
                            <div class="row">
								<div class="col-6 pr-0">
                                    {% if developer.rating %}
                                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ developer.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            <div class="col-6 pl-0 text-right">
                                {% if request.user.is_superuser %}
                                <small class="text-right">
                                    <a href="">Edit</a> | 
                                    <a class="text-danger" href="">Delete</a>
                                </small>
                            {% endif %}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		</div>
	</div>
</div> -->
{% endblock %}