{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">

</div>
{% endblock %}

{% block content %}
<div class="container">
<div class="container py-5">
    <div class="main-body my-5">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card bg-card">
                <div class="card-body px-1 px-lg-2">
                  <div class="d-flex flex-column align-items-center text-center">
                  <div class="circle">
                    <img src="{{ developer.image.url }}" alt="Admin" class="rounded-circle" width="170">
                    </div>
                    <div class="mt-3">
                      <h4>{{ developer.name }}</h4>
                      <p class="text-secondary mb-1">{{ developer.tagline }}</p>
                      <p class="text-muted font-size-sm">{{ developer.bio }}</p>
                      <form class="form" action="{% url 'add_to_bag' developer.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Hours to buy:</strong></p>
                                <div class="form-group w-75 mx-auto">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <button class="btn p-0 border-0" data-item_id="{{ developer.id }}" id="decrement-qty_{{ developer.id }}">
                                                <span class="input-group-text btn-left bg-primary"><i class="fas fa-minus text-white l-0"></i></span>
                                            </button>
                                        </div>
                                        <input class="form-control text-center qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ developer.id }}" id="id_qty_{{ developer.id }}">
                                        <div class="input-group-append">
                                            <button class="btn p-0 border-0" data-item_id="{{ developer.id }}" id="increment-qty_{{ developer.id }}">
                                                <span class="input-group-text btn-right bg-primary text-white"><i class="fas fa-plus text-white l-0"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary text-uppercase mx-auto ml-lg-1 mb-1" value="Add to Bag">
                                </div>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mt-3">
                <ul class="list-group list-group-flush">
                 <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                    <h6 class="mb-0"><i class="fas fa-hand-holding-usd"></i> / <i class="far fa-clock"></i></h6>
                    <span class="text-secondary">€{{ developer.rate }}</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap github">
                    <h6 class="mb-0"><i class="fab fa-github"></i> Github</h6>
                    <span class="text-secondary"><a class="" target="_blank" href="{{ developer.github }}">Go!</a></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap facebook">
                    <h6 class="mb-0"><i class="fab fa-facebook-f"></i> Facebook</h6>
                    <span class="text-secondary"><a class="" target="_blank" href="{{ developer.facebook }}">Go!</a></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap linkedin">
                    <h6 class="mb-0"><i class="fab fa-linkedin-in"></i> Linkedin</h6>
                    <span class="text-secondary"><a class="" target="_blank" href="{{ developer.linkedin }}">Go!</a></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap twitter">
                    <h6 class="mb-0"><i class="fab fa-twitter"></i> Twitter</h6>
                    <span class="text-secondary"><a class="" target="_blank" href="{{ developer.twitter }}">Go!</a></span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap website">
                    <h6 class="mb-0"><i class="fas fa-globe"></i> Website</h6>
                    <span class="text-secondary"><a class="" target="_blank" href="{{ developer.website }}">Go!</a></span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body p-0">
                  <div class="row m-0 p-3 bg-card">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                      {{ developer.name }}
                    </div>
                  </div>
                  <!-- <hr> -->
                  <div class="row m-0 p-3">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                      {{ developer.email }}
                    </div>
                  </div>
                  <!-- <hr> -->
                  <div class="row m-0 p-3 bg-card">
                    <div class="col-sm-4">
                      <h6 class="mb-0">Country</h6>
                    </div>
                    <div class="col-sm-8 text-secondary">
                      {{ developer.country }}
                    </div>
                  </div>
                  <!-- <hr> -->
                  <div class="row m-0 p-3">
                    <div class="col-sm-4">
                    {% if developer.spoken_language.all.count > 1 %}
                      <h6 class="mb-0">Spoken Languages</h6>
                    {% else %}
                      <h6 class="mb-0">Spoken Language</h6>
                    {% endif %}
                    </div>
                    <div class="col-sm-8 text-secondary">
                    {% for spoken_language in developer.spoken_language.all %} {{ spoken_language.name }} ({{ spoken_language.nativeName }}), {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                  <h4 class="d-flex align-items-center mb-3 card-header">Programming Languages</h4>
                    <div class="card-body">
                      {% for language in developer.language.all %}
                      <a href="{% url 'developers' %}?language={{ language.name }}"><h5><i class="fas fa-code text-primary pr-1"> </i>{{ language.friendly_name }}</h5></a><br>
                      {% endfor %}
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                  <h4 class="d-flex align-items-center mb-3 card-header">Programming Frameworks</h4>
                    <div class="card-body">
                      {% for framework in developer.framework.all %}
                      <a href="{% url 'developers' %}?framework={{ framework.name }}"><h5><i class="fas fa-box-open text-primary pr-1"> </i>{{ framework.friendly_name }}</h5></a><br>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'developers/includes/quantity_script.html' %}
{% endblock %}