{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container">
</div>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col text-center mt-3">
        <h2 class="logo-font">Review a Developer</h2>
        <h5 class="text-muted">Reviewing: {{developer.name}}</h5>
    </div>
</div>
<div class="container mb-4">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'add_review' developer.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                    {{ form | crispy }}
                <div class="text-right">
                    <a class="btn btn-outline-primary" href="{% url 'developers' %}">Cancel</a>
                    <button type="submit" class="btn btn-success">
                        <span class="font-weight-bold">Submit</span>
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{% endblock %}