{% extends "base.html" %}
{% load static %}

{% block page_header %}
	<div class="container">
		<div class="row mb-1">
			<div class="col text-center mt-3">
				<h2 class="logo-font">Cart</h2>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
<div class="container mb-4">
    <div class="row">
    {% if bag_items %}
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Developer</th>
                            <th scope="col">Languages/Frameworks</th>
                            <th scope="col" class="text-right">Rate</th>
                            <th scope="col" class="text-center">Quantity</th>
                            <th scope="col" class="text-right">Edit</th>
                            <th scope="col" class="text-right">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
					{% for item in bag_items %}
					<tr>
						<td>
							<div class="circle">
								{% if item.developer.image %}
									<img class="card-img-top rounded-circle" src="{{ item.developer.image.url }}" alt="{{ item.developer.name }}" width="170">
								{% else %}
									<img class="card-img-top rounded-circle" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.developer.name }}" width="170">
								{% endif %}
							</div>
						</td>
						<td>{{ item.developer.name }}</td>
                        <td>
                            {% if item.developer.language %}
                            <h6 class="text-muted">Languages:</h6>
                            <p class="mt-1 mb-0 dynamic-text">
                            {% for language in item.developer.language.all %}                            
                                    <strong>{{ language.friendly_name }}</strong>,
                            {% endfor %}
                            </p>
                            {% endif %}
                            <br>
                            {% if item.developer.framework %}
                            <h6 class="text-muted">Frameworks:</h6>
                            <p class="mt-1 mb-0 dynamic-text">
                            {% for framework in item.developer.framework.all %}                            
                                    <strong>{{ framework.friendly_name }}</strong>,
                            {% endfor %}
                            </p>
                            {% endif %}
                        </td>
                        <td class="text-right">€{{ item.developer.rate }}</td>
                            <td><p class="text-center">{{ item.quantity }}</p></td>
                            <td class="text-right">
                                <button class="btn btn-sm btn-primary"><i class="fas fa-edit"></i> </button>
                                <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> 
                            </td>
                            <td class="text-right">€{{ item.developer.rate }}</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>€{{ total|floatformat:2 }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-light">Continue Shopping</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-block btn-primary text-uppercase">Checkout</button>
                </div>
            </div>
        </div>
        {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Shopping</span>
                </a>
        {% endif %}
    </div>
</div>
{% endblock %}