{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% block page_header %}
<div class="container">
    <div class="row mb-1">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Cart</h2>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container mb-4">
    <div class="row">
        {% if bag_items %}
        <div class="d-block d-md-none">
            {% for item in bag_items %}
            <div class="row">
                <div class="col-12 col-sm-6 mb-2">
                    {% include "bag/dev-image.html" %}
                </div>
                <div class="col-12 col-sm-6 mb-2">
                    {% include "bag/dev-info.html" %}
                </div>
                <div class="col-12 col-sm-6 order-sm-last">
                    <p class="my-0">Per Hour: €{{ item.developer.rate }}</p>
                    <p><strong>Subtotal: </strong>€{{ item.developer.rate | calc_subtotal:item.quantity }}</p>
                </div>
                <div class="col-12 col-sm-6">
                    {% include "bag/quantity-form.html" %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <hr>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="table-responsive rounded d-none d-md-block">
            <table class="table table-sm table-striped">
                <thead class="text-black">
                    <tr>
                        <th scope="col">Developer</th>
                        <th scope="col"></th>
                        <th scope="col">Rate</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>

                {% for item in bag_items %}
                <tr>
                    <td class="p-3 w-25">
                        {% include "bag/dev-image.html" %}
                    </td>
                    <td class="py-3">
                        {% include "bag/dev-info.html" %}
                    </td>
                    <td class="py-3">
                        <p class="my-0">€{{ item.developer.rate }}</p>
                    </td>
                    <td class="py-3 w-25">
                        {% include "bag/quantity-form.html" %}
                    </td>
                    <td class="py-3">
                        <p class="my-0">€{{ item.developer.rate | calc_subtotal:item.quantity }}</p>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-none  col-md-3">
                </div>
                <div class="col-sm-none  col-md-3">
                </div>
                <div class="col-sm-none  col-md-3">
                </div>
                <div class="col-sm-12 col-md-3 my-1">
                    <p class="text-right h4">Total: €{{ total|floatformat:2 }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-none  col-md-3">
                </div>
                <div class="col-sm-none  col-md-3">
                </div>
                <div class="col-sm-12  col-md-3 my-1">
                    <button class="btn btn-block btn-light border rounded border-primary">Developers</button>
                </div>
                <div class="col-sm-12 col-md-3 my-1">
                    <a href="{% url 'checkout' %}" class="btn btn-block btn-primary text-uppercase">Checkout</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="w-100 text-center x-auto">
            <p class="lead m-3">Your cart is empty. </p>
            <a href="{% url 'developers' %}" class="btn btn-primary">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Developers</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'developers/includes/cart_scripts.html' %}
{% endblock %}