<!-- Main desktop navigation bar -->
<div class="container">
   <div class="collapse navbar-collapse" id="main-nav">
      <div class="col-3 d-none d-lg-block px-0">
         <ul class="navbar-nav d-flex justify-content-start">
            <li class="nav-item">
               <a class="navbar-brand mr-0" href="/">
                  <h4>&lt;Dev_on_Demand&gt;</h4>
               </a>
            </li>
         </ul>
      </div>
      <div class="col-6">
         <ul class="navbar-nav w-auto mx-auto d-flex justify-content-center">
            <li class="nav-item">
               <a class="logo-font font-weight-bold nav-link text-white mx-xl-2" href="{% url 'developers' %}">
               All
               </a>
            </li>
            <li class="nav-item dropdown">
               <a class="logo-font font-weight-bold nav-link text-white mx-xl-2" href="#" id="python-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Python
               </a>
               <div class="dropdown-menu border-0 bg-primary" aria-labelledby="python-link">
                  <a href="{% url 'developers' %}?language=python" class="dropdown-item">Python</a>
                  <a href="{% url 'developers' %}?framework=django" class="dropdown-item">Django</a>
                  <a href="{% url 'developers' %}?framework=flask" class="dropdown-item">Flask</a>
               </div>
            </li>
            <li class="nav-item dropdown">
               <a class="logo-font font-weight-bold nav-link text-white mx-xl-2" href="#" id="java-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Java
               </a>
               <div class="dropdown-menu border-0 bg-primary" aria-labelledby="java-link">
                  <a href="{% url 'developers' %}?language=java" class="dropdown-item">Java</a>
                  <a href="{% url 'developers' %}?framework=hibernate" class="dropdown-item">Hibernate</a>
                  <a href="{% url 'developers' %}?framework=spring" class="dropdown-item">Spring</a>
               </div>
            </li>
            <li class="nav-item dropdown">
               <a class="logo-font font-weight-bold nav-link text-white mx-xl-2" href="#" id="javascript-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Javascript
               </a>
               <div class="dropdown-menu border-0 bg-primary" aria-labelledby="javascript-link">
                  <a href="{% url 'developers' %}?language=javascript" class="dropdown-item">Javascript</a>
                  <a href="{% url 'developers' %}?framework=react" class="dropdown-item">React</a>
                  <a href="{% url 'developers' %}?framework=angular" class="dropdown-item">Angular</a>
                  <a href="{% url 'developers' %}?framework=vue" class="dropdown-item">Vue</a>
               </div>
            </li>
            <li class="nav-item dropdown">
               <a class="logo-font font-weight-bold nav-link text-white mx-xl-2" href="#" id="php-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               PHP
               </a>
               <div class="dropdown-menu border-0 bg-primary" aria-labelledby="php-link">
                  <a href="{% url 'developers' %}?language=php" class="dropdown-item">PHP</a>
                  <a href="{% url 'developers' %}?framework=laravel" class="dropdown-item">Laravel</a>
                  <a href="{% url 'developers' %}?framework=codeigniter" class="dropdown-item">CodeIgniter</a>
               </div>
            </li>
            <li class="nav-item d-none d-lg-block" id="nav-search">
               <a class="logo-font font-weight-bold nav-link bg-white text-primary mx-xl-2 border rounded" href="#">
               Search <i class="fas fa-search"></i>
               </a>
            </li>
         </ul>
      </div>
      <div class="col-3 d-none d-lg-block px-0">
         <ul class="navbar-nav d-flex justify-content-end">
            <li class="nav-item dropdown mr-3">
               <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <div class="text-center">
                     {% if request.user.is_authenticated %}
                     {% if user.first_name %}
                     <p class="my-0"><i class="fas fa-user fa-lg"></i> {{ user.first_name }}'s Account</p>
                     {% else %}
                     <p class="my-0"><i class="fas fa-user fa-lg"></i> My Account</p>
                     {% endif %}
                     {% else %}
                     <p class="my-0"><i class="fas fa-user fa-lg"></i> Sign in / Sign up</p>
                     {% endif %}
                  </div>
               </a>
               <div class="dropdown-menu border-0 bg-primary" aria-labelledby="user-options">
                  {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                  <a href="/admin" class="dropdown-item">Admin</a>
                  <a href="{% url 'review_moderation' %}" class="dropdown-item">Pending Reviews</a>
                  <a href="{% url 'add_developer' %}" class="dropdown-item">Add developer</a>
                  {% endif %}
                  <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                  <a data-target="#LogOutModal" data-toggle="modal" class="dropdown-item" href="#LogOutModal">Logout</a>
                  {% else %}
                  <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                  <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
               </div>
            </li>
            <li class="nav-item">
               <a class="{% if total %}text-warning font-weight-bold{% else %}text-white{% endif %} nav-link text-center" href="{% url 'view_bag' %}">
                  <p class="my-0"><i class="fas fa-shopping-cart fa-lg"></i>
                     -
                     {% if total %}
                     €{{ total|floatformat:2 }}
                     {% else %}
                     €0.00
                     {% endif %}
                  </p>
               </a>
            </li>
         </ul>
      </div>
   </div>
</div>