{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}


{% block inner_content %}


{% get_providers as socialaccount_providers %}

<div class="card border-0 mx-auto mb-5" style="width: 400px;">
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center text-primary">{% trans "Sign In" %}</h4>
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="form-group">
                <button type="submit" class="btn btn-block bg-primary text-white">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> {% trans "Sign In" %}
                </button>
            </div>
            <p class="w-100 text-center"><a class="button secondaryAction"
                href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
            {% if socialaccount_providers %}
            <p>{% blocktrans with site.name as site_name %}Please sign in with one
                of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
            <div class="socialaccount_ballot">
                <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>
                <div class="login-or">{% trans 'or' %}</div>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
            {% else %}
            <p class="w-100 text-center">{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            {% endif %}
        </form>
    </article>
</div>
{% endblock %}