{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
        <h4 class="card-title mt-3 text-center text-primary">{% trans "Sign Up" %}</h4>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="form-group">
                <button type="submit" class="btn btn-block bg-primary text-white">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> {% trans "Sign Up" %}
                </button>
            </div>
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        </form>
{% endblock %}