<div class="modal" id="confirmDelete" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title w-100 text-center text-primary"><i class="fas fa-4x fa-sign-out-alt"></i></h5>
            </div>
            <div class="modal-body w-100 text-center">
                <h4 class="mb-0">Are you sure you want to delete this developer?</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="{% url 'delete_developer' developer.id %}">Delete</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>